<!DOCTYPE html>
<html lang="en">

<% include ../partials/head.ejs %>

<body>
    <header>
        <% include ../partials/navbar.ejs %>
    </header>

    <section id="main">
        <p> Welcome, please sign in. </p>
        <a href='/graph/views'>Views list</a>
    </section>

    <% include ../partials/footer.ejs %>
</body>
</html>
