body {
    background-color: #d5dfea;
}

nav {
    background-color: #b6c7db;
}

h1 {
    font-size: 1.5em;
}

.logo {
    width: 6em;
    height: auto;
}

#cy {
    /* Specify pixel values in case viewport units (vw, vh) don't work on the
    user's browser */
    width: 1000px;
    height: 800px;

    width: 60vw;
    height: 90vh;

    background-color: white;
}

.element {
    font-size: 0.75em;
}

#main {
    padding: 1em;
}
