<!-- Displays a list of views to choose from -->
<!DOCTYPE html>
<html lang="en">

<% include ../partials/head.ejs %>

<body>
    <header>
        <% include ../partials/navbar.ejs %>
    </header>

    <section id="main">
    <div class="container-fluid">
        <div class="row my_row">
            <div class="col">
                <% include ../partials/viewsBox.ejs %>
            </div>
        </div>
        <div class="row my_row">
            <div class="col-2">
                <% include ../partials/toolbox.ejs %>
            </div>
            <div class="col-10">
                <% include ../partials/workingSpace.ejs %>
            </div>
        </div>
        <div class="row my_row">
            <div class="col">
                <% include ../partials/propertiesBox.ejs %>
            </div>
        </div>
    </div>
    </section>

    <% include ../partials/footer.ejs %>
</body>
</html>
