body {
    background-color: #d5dfea;
}

nav {
    background-color: #b6c7db;
}

h1 {
    font-size: 1.5em;
}

button {
    margin: 0.1em;
}

.logo {
    width: 6em;
    height: auto;
}

#cy {
    /* Specify pixel or percentage values in case viewport units (vw, vh) don't work on the
    user's browser */
    width: 100%;
    height: 80%;
    height: 80vh;

    background-color: white;
    border-radius: 1em;

    resize: both;
    overflow: scroll;
}

#main {
    padding: 1em;
}

.my_row {
    border-bottom: solid;
    padding-bottom: 1em;
}

.btn {
    background-color: lightgrey;
}

.login_form {
    width: 20em;
}

.group_btns {
    padding-bottom: 1em;
}

.msg_board {
    background-color: lightgrey;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
