<!-- views/partials/header.ejs -->
<nav class="navbar navbar-light">
    <a class="navbar-brand mr-auto p-0" href="#">
        <img class="logo" src="/images/Logo.png" alt="Skema logo"></img>
    </a>
    <span class="userName navbar-text mr-3">
        Jack Attack
    </span>
    <button class="btn" type="button" onClick="LogOut()">Logout</button>
</nav>
