<!-- views/partials/toolbox.ejs -->
<div class="toolbox col-sm">
    <h1>Toolbox</h1>
    <form>
        Label: <input type="text" id="labeltext">
        <button type="button" onclick="adjustElement()">Edit Label</button><br>
        X-Position: <input type="text" id="xpostext" readonly><br>
        Y-Position: <input type="text" id="ypostext" readonly>
    </form>

    <button type="button" onclick="addNode()">Add Node</button>
    <button type="button" onclick="addEdge()">Add Edge</button>
    <button type="button" onclick="deleteElement()">Remove Element</button>
    <button type="button" onclick="resetViewport()">Reset View</button>
    <button type="button" onclick="Save_network()">Save Network</button>
</div>
