<!-- views/partials/views.ejs -->
<div class="views col-lg-3">
    <h1>My Genetic Decompositions</h1>

    <!-- Displays a list of worlds and the views available in each -->
    <!-- TODO: This is currently hardcoded -->
    <ul>
        <li>World #1</li>
        <li>World #2</li>
        <li>World #3</li>
        <ul>
            <li>View #1</li>
            <li>View #2</li>
        </ul>
    </ul>

    <!-- Include properties and toolbox here so it's in the same column -->
    <% include ../partials/properties.ejs %>
    <% include ../partials/toolbox.ejs %>
</div>
