<!-- views/partials/views.ejs -->
<div class="views">
    <h1>My Genetic Decompositions</h1>
    <ul>
        <li>World #1</li>
        <li>World #2</li>
        <li>World #3</li>
        <ul>
            <li>View #1</li>
            <li>View #2</li>
        </ul>
    </ul>
</div>
