<!-- views/partials/workingSpace1.ejs -->
<div class="workingSpace">
    <h1>Working Space</h1>
    <!-- Remember to implement tabs -->

    <div id="cy" class="container-fluid"></div>

    <script>
        var cy = cytoscape({
            container: document.getElementById('cy'),
            elements: [
                <% for (var i=0; i<network.length; i++) { %>
                    <% if (network[i].type == "node") { %>
                        { data: { id: '<%= network[i].node_name %>' } },
                    <% } else if (network[i].type == "edge") { %>
                        { data: { id: '<%= network[i].edge_name %>', source: '<%= network[i].source_node %>', target: '<%= network[i].target_node %>' } },
                    <% } %>
                <% } %>
            ],
            style: [
                {
                    selector: 'node',
                    style: {
                        label: 'data(id)'
                    }
                }
            ],
            layout: {
                name: 'grid'
            }
        })

        var current;

        cy.on('mousedown drag', 'node', function(evt){
            current = this;
            changeText(current);
        });
    </script>
</div>
