<!-- views/partials/workingSpace1.ejs -->
<div class="workingSpace col-lg-9">
    <h1>Working Space</h1>

    <!-- Remember to implement tabs -->

    <!-- The cytoscape container -->
    <div id="cy" class="container-fluid"></div>

    <!-- Insert essential elements and properties from the database into the workspace -->
    <script>
        var cy = cytoscape({
            container: document.getElementById('cy'),
            elements: [
                <% for (var i=0; i<network.length; i++) { %>
                    <% if (network[i].type == "node") { %>
                        { data: { id: '<%= network[i].node_name %>' } },
                    <% } else if (network[i].type == "edge") { %>
                        { data: { id: '<%= network[i].edge_name %>', source: '<%= network[i].source_node %>', target: '<%= network[i].target_node %>' } },
                    <% } %>
                <% } %>
            ],
            style: [
                {
                    selector: 'node',
                    style: {
                        label: 'data(id)',
                        //'background-opacity': 0
                    }
                },
                {
                    selector: 'edge',
                    style: {
                        'curve-style': 'bezier',
                        'target-arrow-shape': 'triangle'
                    }
                }
            ],
            layout: {
                name: 'grid' //'preset'
            }
        })

        var current;

        cy.on('mousedown drag', 'node', function(evt){
            current = this;
            changeText(current);
        });
    </script>
</div>
