@blue: #3c7be0;
@light_blue: #4286f4;
@brown: #918e82;
@grey: #c1c1c1;
@light_grey: #e0e0e0;
@white: white;

@headerBarColour: @blue;
@toolBarColour: @light_blue;
@backgroundBoxColour: @grey;
@foregroundBoxColour: @white;
@inactiveTabColour: @light_grey;

@appWidth: 105rem;
@appHeight: 100%;
@headerBarItemHeight: 4rem;
@borderPadding: 0.5rem;
@iconSize: 1.8rem;
@columnHeight: 54rem;
@leftColumnWidth: 25rem;
@rightColumnWidth: 78.8rem;
@viewsHeight: 20rem;
@toolboxHeight: 17rem;
@sharedHeight: 12.4rem;
@workSpaceHeight: 35rem;
@propertiesHeight: 15.45rem;

.unstyledButton {
	border: none;
	cursor: pointer;
	outline: none;
}

.noGaps {
	margin: 0;
	padding: 0;
}

.foregroundBox {
	background-color: @foregroundBoxColour;
}

.backgroundBox {
	background-color: @backgroundBoxColour;
}

.horizontalFlexBox {
	display: flex;
	align-items: stretch;
	align-content: stretch;
	flex-flow: row nowrap;
}

html, body, .home {
    .noGaps;
	
    background-color: @headerBarColour;
	font-family: sans-serif;
	font-size: 14px;

	height: @appHeight;
	width: @appWidth;
}

body {
	margin: auto;
}

html {
	width: @appWidth - 11rem;
}

h1 {
	.noGaps;
	
	font-size: 1rem;
}

p {
	.noGaps;
}

// Header Bar CSS
.headerBar {	
	background-color: @headerBarColour;
	padding: 0 @borderPadding;
	width: 100%;
}

.logo {
	flex: 8 0 0;
	margin: auto;
	
	img {
		height: @headerBarItemHeight;
		width: @headerBarItemHeight * 2;
	}
}

.user {
	flex: 1 0 0;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

.logOut {
	.noGaps;
	.unstyledButton;
	
	background-color: @headerBarColour;
	flex: 1 0 0;
	height: @headerBarItemHeight + 0.5;
	margin: auto;
	margin-right: -@borderPadding;
	
	&:active {
		background-color: @toolBarColour;
	}
}

// Tool Bar CSS
.toolBar {
	background-color: @toolBarColour;
	padding: 0 @borderPadding;
	width: 100%;
}

.icon {
	.unstyledButton;
	
	background-color: @toolBarColour;
	font-size: @iconSize;
	padding: 0.2rem 0.4rem;
}

// Overall layout of the two columns
.row {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	height: @columnHeight;
}

.leftColumn {
	border-style: solid;
	border-right-style: none;
	display: inline-block;
	padding: @borderPadding;
	height: 100%;
	width: @leftColumnWidth;
}

.rightColumn {
	border-style: solid;
	border-left-style: none;
	display: inline-block;
	padding: @borderPadding;
	height: 100%;
	width: @rightColumnWidth;
}

// Working space
.workingSpace {
	.foregroundBox {
		border-style: solid;
		height: @workSpaceHeight;
		overflow: auto;
	}
}

.tab {
	.unstyledButton;
	
	background-color: @inactiveTabColour;
	border-right-style: solid;
	border-top-style: solid;
	display: inline-block;
	padding: 0.2rem;
	
	&:active {
		background-color: @foregroundBoxColour;
	}
}

#tab0 {
	background-color: @foregroundBoxColour;
	border-left-style: solid;
}

// Views box
.views {
	.foregroundBox {
		border-style: solid;
		height: @viewsHeight;
		overflow: auto;
	}
}

// Toolbox
.toolBox {
	.foregroundBox {
		border-style: solid;
		height: @toolboxHeight;
		overflow: auto;
	}
}

// Shared box
.shared {
	.foregroundBox {
		border-style: solid;
		height: @sharedHeight;
		overflow: auto;
	}
}

// Properties
.properties {
	.foregroundBox {
		border-style: solid;
		height: @propertiesHeight;
		overflow: auto;
	}
}






// OLD CSS FILE - FLUID BUT BUGGY.
// I kept it here just in case the hardcoding method above turns out worse.
/*
		@blue: #3c7be0;
		@light_blue: #4286f4;
		@brown: #918e82;
		@grey: #c1c1c1;
		@light_grey: #e0e0e0;
		@white: white;

		@headerBarColour: @blue;
		@toolBarColour: @light_blue;
		@backgroundBoxColour: @grey;
		@foregroundBoxColour: @white;
		@inactiveTabColour: @light_grey;

		@headerBarItemHeight: 3rem;
		@borderPadding: 0.5rem;
		@iconSize: 1.5rem;

		.unstyledButton {
			border: none;
			cursor: pointer;
			outline: none;
		}

		.noGaps {
			margin: 0;
			padding: 0;
		}

		.fullWidthBar {
			width: 100%;
		}

		.foregroundBox {
			background-color: @foregroundBoxColour;
		}

		.backgroundBox {
			background-color: @backgroundBoxColour;
		}

		.horizontalFlexBox {
			display: flex;
			align-items: stretch;
			align-content: stretch;
			flex-flow: row nowrap;
		}

		body {
			.noGaps;
			
			background-color: @headerBarColour;
			background-image: linear-gradient(to bottom, @headerBarColour, @brown 100%);
			background-attachment: fixed;
			font-family: sans-serif;
			font-size: 14px;
		}

		body, html, .home {
			height: 100%;
		}

		h1 {
			.noGaps;
			
			font-size: 1rem;
		}

		p {
			.noGaps;
		}

		// Getting the white space - this is a disgusting workaround TODO: Improve!
		.views, .toolBox, .shared {
			.foregroundBox {
				height: 12.5rem;
			}
		}
		.workingSpace, .properties {
			.foregroundBox {
				height: 40rem;
			}
		}

		// Header Bar CSS
		.headerBar {
			.fullWidthBar;
			
			background-color: @headerBarColour;
			padding: 0 @borderPadding;
		}

		.logo {
			flex: 5 0 0;
			margin: auto;
			
			img {
				height: @headerBarItemHeight;
				width: @headerBarItemHeight * 2;
			}
		}

		.user {
			flex: 1 0 0;
			margin: auto;
			text-align: center;
			vertical-align: middle;
		}

		.logOut {
			.noGaps;
			.unstyledButton;
			
			background-color: @headerBarColour;
			flex: 1 0 0;
			height: @headerBarItemHeight + 0.5;
			margin: auto;
			
			&:active {
				background-color: @toolBarColour;
			}
		}

		// Tool Bar CSS
		.toolBar {
			.fullWidthBar;
			
			background-color: @toolBarColour;
			padding: 0 @borderPadding;
		}

		.icon {
			.unstyledButton;
			
			background-color: @toolBarColour;
			font-size: @iconSize;
			padding: 0.2rem 0.4rem;
		}

		// Overall layout of working space and sidebars
		.sideBarLeft {
			border-style: solid;
			border-right-style: none;
			flex: 1 0 0;
			padding: @borderPadding;
		}

		.sideBarRight {
			border-style: solid;
			border-left-style: none;
			flex: 1 0 0;
			padding: @borderPadding;
		}

		.workingSpace {
			border-style: solid;
			flex: 3 0 0;
			
			.foregroundBox {
				overflow: scroll;  // Can change to auto.
			}
		}

		// Working space
		.tab {
			.unstyledButton;
			
			background-color: @inactiveTabColour;
			border-right-style: solid;
			display: inline-block;
			padding: 0.2rem;
			
			&:active {
				background-color: @foregroundBoxColour;
			}
		}

		#tab0 {
			background-color: @foregroundBoxColour;
		}

		// CSS given by github example
		#cy {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
		}

		// Views box
		.views {
			.foregroundBox {
				overflow: auto;
			}
		}

		// Toolbox
		.toolBox {
			.foregroundBox {
				overflow: auto;
			}
		}

		// Shared box
		.shared {
			.foregroundBox {
				overflow: auto;
			}
		}

		// Properties
		.properties {
			.foregroundBox {
				overflow: auto;
			}
		}
*/