@dark-blue: #315481;
@light-blue: #315592;
@brown: #918e82;

body {
    font-family: sans-serif;
    background-color: @dark-blue;
    background-image: linear-gradient(to bottom, @dark-blue, @brown 100%);
    background-attachment: fixed;
 
    padding: 0;
    margin: 0;
 
    font-size: 14px;
}

.logo {
	height: 3rem;
	width: 6rem;
}

.fullWidthBar {
	width: 100%;
}

.navBar {
	background-color: @dark-blue;
	.fullWidthBar;
}

.logOut {
	height: 3rem;
	width: 6rem;
}

.toolBar {
	background-color: @light-blue;
	.fullWidthBar;
}

.fontIcons {
	font-size: 3rem;
}