<!-- views/partials/login.ejs -->
<div>
    <form action="/">
        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" class="form-control login_form" placeholder="Enter Username" name="uname" required>
            <label for="psw">Password</label>
            <input type="password" class="form-control login_form" placeholder="Enter Password" name="psw" required>
            <button type="submit" class="btn">Login</button>
        </div>
    </form>
</div>
