<!-- views/partials/toolbox.ejs -->
<div class="toolbox">
    <h1>Toolbox</h1>

    <!-- Label and x-pos/y-pos form -->
    <form>
        Label: <input type="text" id="labeltext">
        <button type="button" onclick="adjustNodeName()">Edit Label</button><br>
        X-Position: <input type="text" id="xpostext" readonly><br>
        Y-Position: <input type="text" id="ypostext" readonly>
    </form>

    <!-- Add Cytoscape manipulation buttons -->
    <!-- adjust function inputs when multiple view tabs is implemented-->
    <button type="button" onclick="addNode(cy1)">Add Node</button><br>
    <button type="button" onclick="addEdge(cy1)">Add Edge</button><br>
    <button type="button" onclick="deleteElement(cy1)">Remove Element</button><br>
    <button type="button" onclick="resetViewport(cy1)">Reset Viewport</button><br>
    <button type="button" id="updateViewBtn" onclick="updateViewInViewCollection('<%= view.url + '/update' %>')">Save View</button>
</div>
