<!-- views/partials/views.ejs -->
<div>
    <h1>My Genetic Decompositions</h1>

    <!-- Displays a list of Worlds and the views available in each World -->
    <!-- TODO: Add more Worlds - this would require a 'Worlds' collection in the db -->
    <ul>
        <li>World</li>
        <ul>
            <% for (var one_view of view_list) { %>
                <li>View: <a href='<%= one_view.url %>'><%= one_view.name %></a></li>
            <% } %>
        </ul>
    </ul>
</div>
