<!-- views/partials/head.ejs -->
<!-- The website head. Includes title, CSS links, favicon, and cytoscape script -->

<head>
    <meta charset="UTF-8">
    <title>Skema</title>

    <!-- CSS (bootstrap CDN and custom stylesheet)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/styles/styles.css" rel="stylesheet" type="text/css">

    <!-- Add a favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

    <!-- Import the cytoscape.js file here since placing it in the footer will cause a 'cytoscape not found' bug -->
    <script src="/javascripts/cytoscape.js"></script>
</head>
