<!-- views/partials/header.ejs -->
<!-- The navbar. Very simple. Almost useless until user accounts are implemented -->

<nav class="navbar navbar-light">
    <!-- Logo -->
    <a class="navbar-brand mr-auto p-0" href="/graph/">
        <img class="logo" src="/images/Logo.png" alt="Skema logo"></img>
    </a>

    <!-- User -->
    <span class="userName navbar-text mr-3">
        User
    </span>

    <!-- Logout -->
    <button class="btn" type="button" onClick="">Logout</button>
</nav>
