<!-- views/partials/shared.ejs -->
<!-- haha -->
<!-- get outta here -->
<!-- :) -->

<div class="shared">
    <!-- This feature is for sharing genetic decompositions publicly to other
    users. It might be implemented in a distant program iteration -->
</div>
