<!-- views/partials/toolbox.ejs -->
<!-- The toolbox to allow the user to manipulate the view and the Cytoscape graph -->

<div>
    <h1>Toolbox</h1>

    <!-- Label and x-pos/y-pos form -->
    <form>
        <div class="form-group">
            <label for="labeltext">Node label</label>
            <input type="text" id="labeltext" class="form-control">
            <button type="button" class="form-control btn" onclick="adjustNodeName()">Edit Label</button>
        </div>
        <div class="form-group">
            <label for="xpostext">X Position</label>
            <input type="text" id="xpostext" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="ypostext">Y Position</label>
            <input type="text" id="ypostext" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="layoutDropdown">Layout</label>
            <select id="layoutDropdown" class="form-control">
                <option value="concentric">Concentric</option>
                <option value="cose">Cose</option>
            </select>
        </div>
        <div class="form-group">
            <label for="labeltext">View name</label>
            <input type="text" id="viewName" class="form-control" value="<%= view.name %>">
            <button type="button" id="updateViewBtn" class="form-control btn" onclick="updateViewInViewCollection('<%= view.url + '/update' %>')"><strong>Save View</strong></button>
        </div>
    </form>

    <!-- Add Cytoscape manipulation buttons -->
    <!-- adjust function inputs when multiple view tabs is implemented-->
    <div class="group_btns">
        <button type="button" class="form-control btn" onclick="addNode(cy)">Add Node</button>
        <button type="button" class="form-control btn" onclick="addEdge(cy)">Add Edge</button>
        <button type="button" class="form-control btn" onclick="deleteElement(cy)">Remove Element</button>
    </div>
    <div>
        <button type="button" class="form-control btn" onclick="changeLayout(cy)">Change Layout</button>
        <button type="button" class="form-control btn" onclick="resetViewport(cy)">Reset Viewport</button>
    </div>
</div>
